FRONTEND_PORT=5173
BACKEND_PORT=8080

POSTGRES_DB=astore
POSTGRES_USER=astore
POSTGRES_PASSWORD=change-me

DB_HOST=db
DB_PORT=5432
DB_HOST_PORT=5432
DB_NAME=astore
DB_USER=astore
DB_PASSWORD=change-me

SPRING_JPA_HIBERNATE_DDL_AUTO=update
ASTORE_DEMO_SEED=false

BACKEND_SCHEME=http
BACKEND_HOSTPORT=backend:8080
